resolver 127.0.0.11 valid=30s;
resolver_timeout 5s;

upstream rdpgw_upstream {
  server __RDPGW_UPSTREAM__ resolve;
}

server {
  listen 443;
  proxy_pass rdpgw_upstream;
  proxy_connect_timeout 30s;
  proxy_timeout 1h;
}
